<div class="dk"></div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 font">
                <h3>
                    <b>
                        THE
                        <br>
                        COFFEE
                        <br>
                        STUDY
                    </b>
                </h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                <h3 class="footer_title">ABOUT</h3>
                <ul class="footer_linklists">
                    <li><a href="" title="Về Chúng Tôi">Về Chúng Tôi</a></li>
                    <li><a href="" title="Hạt Cà Phê The Coffee House">Hạt Cà Phê The
                            Coffee Study</a></li>
                    <li><a href="http://localhost:4200/Blog" title="Blog">Blog</a></li>
                    <li><a href="" title="Cơ Hội Nghề Nghiệp">Cơ Hội Nghề Nghiệp</a>
                    </li>
                    <li><a href="/pages/our-stores" title="Cửa Hàng">Cửa Hàng</a></li>
                </ul>
                <div class="gov">
                    <a target="_blank" rel="nofollow" href="http://online.gov.vn/Home/WebDetails/48042"><img width="200"
                            src="//theme.hstatic.net/1000075078/1000610097/14/gov.png?v=617" alt="gov"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                <div class="hotline_footer">
                    <h3 class="footer_title">Always-on Support</h3>
                    <p>Delivery 1800 6936 (07:00-21:00)</p>
                    <p>Support Support 02871 087 088 (07:00-21:00) </p>
                </div>
                <div class="address_footer">
                    <h3 class="footer_title">Address</h3>
                    <p>965-967 Điện Biên Phủ, Thanh Khê.
                        <br>
                        Đà Năng, Việt Nam.</p>
                    <p>0395697922</p>
                    <p>hi@thecoffeestudy.vn</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 footer_col">
                <h3 class="footer_title">Delivery</h3>
                <ul class="footer_linklists">
                    <li><a href="/" title="Shipping methods">Shipping methods</a></li>
                    <li><a href="/" title="Payment">Payment</a></li>
                    <li><a href="/" title="Cash voucher">Cash voucher</a></li>
                    <li><a href="/" title="Return">Return</a></li>
                    <li><a href="/" title="Exchange">Exchange</a></li>
                </ul>
                <div class="grid__item large--four-twelfths medium--eight-twelfths small--one-whole wow fadeInRight"
                    style="visibility: visible; animation-name: fadeInRight;">
                    <div class="ft-fb">
                        <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/ngoinhax/"
                            data-width="300" data-height="400" data-small-header="true"
                            data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"
                            fb-xfbml-state="rendered"
                            fb-iframe-plugin-query="adapt_container_width=false&amp;app_id=&amp;container_width=360&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fngoinhax%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;width=300">
                            <span style="vertical-align: bottom; width: 300px; height: 154px;">
                                <iframe
                                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FThe-Coffee-Study-102091977861808&tabs=timline&width=340&height=210&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                    width="340" height="300" style="border:none;overflow:hidden" scrolling="no"
                                    frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="copyright_footer display_flex justify-content-spbetween">
                    <div class="copyright_text copyright_col">Copyright © 2020 The Coffee Study. All rights reserved.
                    </div>
                    <div class="copyright_menu copyright_col">
                        <!-- <div>
                            <a href="https://order.thecoffeehouse.com/policy">Privacy Policy</a> || <a href="https://order.thecoffeehouse.com/term">Terms of Use</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<div class="dk"></div>
<div class="footer">
    <div>
        <div class="row col-md-12 ">
            <div class="col-md-2 font">
                <h3>
                    <b>
                        THE
                        <br>
                        COFFEE 
                        <br>
                        STUDY
                    </b>
                </h3>
                
            </div>
            <div class="col-md-3">
                <h4><b>ABOUT</b></h4>
                <a>Về Chúng Tôi</a><br>
                <a>Hạt Cà Phê The Coffee Study</a><br>
                <a>Blog</a><br>
                <a>Cơ Hội Nghề Nghiệp</a><br>
                <a>Cửa Hàng</a><br><br>
                <img width="200" src="//theme.hstatic.net/1000075078/1000534883/14/gov.png?v=1544" alt="gov">
            </div>
            <div class="col-md-4">
                <h4><b>Always-on Support</b></h4>
                <a>Delivery 1800 6936 (07:00-21:00)</a><br>
                <a>Support 02871 087 088 (07:00-21:00)</a><br><br>
                <h4><b>Address</b></h4>
                <a>965-967 Điện Biên Phủ, Thanh Khê</a><br>
                <a>Đà Năng, Việt Nam</a><br>
                <a>0395697922</a><br>
                <a>hi@thecoffeestudy.vn</a><br>
            </div>
            <div class="col-md-2">
                <h4><b>Delivery</b></h4>
                <a>Shipping methods</a><br>
                <a>Payment</a><br>
                <a>Cash voucher</a><br>
                <a>Return</a><br>
                <a>Exchange</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="line"></div>
        <div class="row col-md-12">
            <div class="col-md-8"><a>Copyright © 2020 The Coffee Study. All rights reserved.</a></div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <a>
                    Privacy Policy | Terms of Use
                </a>
            </div>
        </div>
    </div>
</div> -->