<nav class="navbar navbar-light  justify-content-between" style="background-color: #6e6b74b0;">
    <a routerLink="/coffee" style="color: rgb(182, 55, 17); font-size: 25px; font-family: Algerian;"><b>THE COFFEE
            STUDY®</b></a>
    <a style="color: rgb(182, 55, 17); font-size: 20px;"><b>Mang Tiếng Anh Đến Gần Mọi Người</b></a>
    <form class="form-inline">
        <div *ngIf="!username">
            <button class="raise button" type="submit" [routerLink]="['/signup']">Đăng Ký</button>
            <button class="raise button" type="submit" [routerLink]="['/login']">Đăng Nhập</button>
        </div>
        <div *ngIf="username" class="dropdown">
            <button class="username" type="submit">{{username}}</button>
            <div class="dropdown-content">
                <button class="shadown" (click)="homeUser()">Trang cá nhân</button>
                <button class="shadown" routerLink="/coupon" >Coupon</button>
                <button class="shadown"  (click)="logout()">Đăng Xuất</button>
            </div>
        </div>
    </form>
</nav>
<div class="dk"></div>