<div class="container class-container">
    <div class="row col-md-12">
        <h3>Khuyến mãi của bạn</h3>
    </div>
    <div class="row col-md-12">
        <div class="row col-md-3">

        </div>
        <div class="row col-md-3 shadow">
            <img src="/assets/images/MACCHIATO.jpg">
            <h4 class="rewards">Ưu đãi 15% đơn hàng từ 2 món</h4>
            <p class="time-end">Hết hạn 2021-04-30 23:59:00</p>
        </div>
        <div class="row col-md-2">

        </div>
        <div class="row col-md-3 shadow">
            <img src="/assets/images/MACCHIATO.jpg">
            <h4 class="rewards">Mua 1 ly tặng 1 ly</h4>
            <p class="time-end">Hết hạn 2021-04-30 23:59:00</p>
        </div>
        <div class="row col-md-2">

        </div>
    </div>
    <div class="row col-md-12">
        <div class="row col-md-3">

        </div>
        <div class="row col-md-3 shadow">
            <img src="/assets/images/TRANCHAUTRANG.jpg">
            <h4 class="rewards">Ưu đãi 15% đơn hàng từ 2 món</h4>
            <p class="time-end">Hết hạn 2021-04-30 23:59:00</p>
        </div>
        <div class="row col-md-2">

        </div>
        <div class="row col-md-3 shadow">
            <img src="/assets/images/MACCHIATO.jpg">
            <h4 class="rewards">Ưu đãi 35% đơn hàng 5 món</h4>
            <p class="time-end">Hết hạn 2021-04-30 23:59:00</p>
        </div>
        <div class="row col-md-2">

        </div>
    </div>
    <div class="row col-md-12">
        <div class="row col-md-3">

        </div>
        <div class="row col-md-3 shadow">
            <img src="/assets/images/TRADOACAMSA.jpg">
            <h4 class="rewards">Mua 1 trà sữa tặng 1 trà sữa hoặc bánh Mochi</h4>
            <p class="time-end">Hết hạn 2021-04-30 23:59:00</p>
        </div>
        <div class="row col-md-2">

        </div>
        <div class="row col-md-3">
        </div>
        <div class="row col-md-2">

        </div>
    </div>
</div>